*{
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    background-color: #081b31;
    color: #fff;
    height: 5rem;
    line-height: 5rem;    
}
.choice{
    height: 15.625rem;
    width: 9.375rem; 
    border-radius: 50%;
}

.choice:hover{
    height: 100px;
    width: 150px; 
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
img{
    border: 2px solid black;
    margin-top: 30px;
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
   
}
.choices{
    border: 5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;

}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rems; 
    gap: 5rem;  
}
#user-score,#comp-score{
    font-size: 5rem;
}
    #msg{
        background-color: black;
        color: #fff;
        font-size: 2rem;
        margin-top: 5rem;
        display: inline;
        padding: 1rem;
        border-radius: 1rem;
    
}
.msg-container{
    margin-top: 5rem;
    
}
